//CATEGORY
.category-header {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 3%;
  padding: 2%;
  background-color: burlywood;
}

.category-header h1 {
  font-size: 400%;
  text-align: center;
}

.category-header h3{
  font-size: 150%;
  text-align: center;
}

.category-hstack {
grid-column-start: 2;
grid-column-end: 8;
grid-row-start: 2;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: 100px 100px;
gap: 1rem;
// height: 50%;
justify-content: center;
background-color: aquamarine;
}

.category-hstack__button-card {
  height: 100px;
}